.deps/
CamelliaLib-2.7.0.tar.gz
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
inc/config.h
inc/config.h.in
inc/stamp-h1
install-sh
libtool
ltmain.sh
m4/
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/*.lo
*.o
*.gem
*.deb
cam_demo
cam_myobjects
cam_yalefaces
description-pak
doc-pak/
src/libCamellia.la
backup-*-pre-camellia.tgz
*.so
output/*
